
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--background);
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  .light {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@theme {
    --font-family-sans: var(--font-sans);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}